{% extends "base.html" %}

{% block content %}
<div class="background"></div>
<div class="min-h-screen">
    <div class="text-2xl text-black-500 font-serif font-bold">Lista de Productos</div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:gap-8 mt-8">
        {% for product in products %}
        <div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md card">
            <div class="relative mx-4 mt-4 h-96 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
                {% if product.photo %}
                <img
                    src="{{ product.photo.url }}"
                    alt="{{ product.name }}"
                    class="h-full w-full object-cover card-image"
                />
                {% endif %}
            </div>
            <div class="p-6">
                <div class="mb-2 flex items-center justify-between">
                    <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                        {{ product.name }}
                    </p>
                    <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                        ${{ product.price }}
                    </p>
                </div>
                <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
                    {{ product.description|default:"No description available." }}
                </p>
            </div>
            <div class="p-6 pt-0">
                <form action="{% url 'add_product' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <button
                        class="block w-full select-none rounded-lg bg-blue-blue-400 py-3 px-6 text-center align-middle
                        font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105
                        focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50
                        disabled:shadow-none card-link"  type="submit"
                    >
                        Agregar pedido
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}